body {
  background-color: black;
  text-align: center;
  font-family: Verdana, sans-serif;
  color: white;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

h2{
  font-weight: 300;
  font-size: 42px;
}

p{
  font-size: 21px;
  color: gray;
}

.download{
  color: aquamarine;
  font-size: 16px;
}

.copyright{
  text-align: right;
}
